
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .1  );
}

.card {
    padding: 10px;
}

#header {
    color: palevioletred;
    font-size: 2em;
    
}

#nav {
    width: 20%;
    height: 400px;
    display:flex;
    justify-content:space-evenly;
}
a{
    padding:10px;
}
#content {
    width: 70%;
}

#sidebar {
    width: 10%;
}

#footer {
    font-size: 0.7em;
}

.card-body {
    width: 200px;
}

.user-avatar {
    padding-right: 10px;
}

#app{
    display:flex;
    flex-direction: column;

}

